cat > ~/dcsm-project/storage-primary/requirements.txt << 'EOF'
grpcio==1.84.0
grpcio-tools==1.84.0
protobuf==7.36.2
EOF

cp ~/dcsm-project/storage-primary/requirements.txt ~/dcsm-project/storage-backup/requirements.txt
